<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      App BMI
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"[fullscreen]="true">
<div class="ion-text-center">
 <img src="../../assets/img/Delivery, kilo, kilogram, logistic, package, scale, weight icon - Download on Iconfinder.jpg" style="width: 50%; height: 50%;">
</div>
<ion-card color="success" class="ion-padding" expand="block">
 <ion-card>
<ion-item>
  <ion-input label="กรอกน้ำหนัก" color="primary" placeholder="kg"></ion-input>
</ion-item>
<ion-item>
  <ion-input label="กรอกส่วนสูง" color="primary" placeholder="cm"></ion-input>
</ion-item>
 </ion-card>
  <br>
  <div class="ion-text-center">
    <ion-button color="warning" size="large" expand="block" shape="round">คำนวณ</ion-button><br>
  </div>
</ion-card>
<div>
  <ion-button color="primary" size="large" expand="block">ผลลัพธ์</ion-button>
  <ion-button color="danger" size="large" expand="block">แปรผล</ion-button>
</div>
</ion-content>
